/* Global styles */

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* a {
    color: #000000;
    text-decoration: none;
  } */

/* a:hover {
    color: #FF0000;
  } */

/* Header styles */

/* header {
    background-color: #ffffff;
    padding: 20px;
  }
  
  h1 {
    font-size: 30px;
    font-weight: bold;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
  } */

/* Main content styles */

/* 
  
  .item {
    margin-bottom: 20px;
  }
  
  .item-image {
    width: 100%;
    height: 200px;
  }
  
  .item-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .item-description {
    font-size: 16px;
  } */

/* Footer styles */

/* footer {
    background-color: #ffffff;
    padding: 20px;
  } */
main {
  padding: 12px 0 0;
}

.profile {
  width: 100px;
  display: flex;
  justify-content: center;
}

li.nav-item.dropdown::marker {
  display: none;
}

.dropdown.show {
  left: -50px;
}

.container-login {
  max-width: 540px;
}

.header-profile {
  background-color: #00BFA5;
}

.explore-category {
  width: 200px;
}

.main-app {
  padding-top: 65px;
}

.home-part {
  height: 80vh;
  background-image: url('/static/images/bg-home-2.jpg');
  background-size: 90%;
}

.home-part-1 {
  background-image: url('/static/images/bg-home-1.jpg');
  background-size: 90%;
}


.home-overlay {
  height: 100%;
  background-image: url('/static/images/dynamic-bg.png');
  -webkit-animation: bg-animation 8s infinite alternate;
  animation: bg-animation 8s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

.intro-content {
  width: 1000px;
}

.explore-intro {
  padding-top: 50px;
}

.main-app {
  background-image: url('/static/images/bg-home-2.jpg');
  background-size: 90%;
}

.message-comment {
  max-height: 300px;
  overflow: auto;
}

.checked {
  outline: 6px solid #3b71ca;
}